// Some Twitter Bootstrap components pasted in here and customised.

.wpcf7-form {
  margin-bottom: 2em;
  
  // (480 @ 16px)
  @media only screen and (min-width: 30em) {
    margin-bottom: 5em;
  }
  p {
    margin-bottom: 0.5em;
  }
}

label {
  display: block;
}

legend {
  @include adjust-font-size-to(28px);
  color: $brand-color;
  width: 100%;
}

.button,
a.button,
a.button:link,
a.button:visited,
.wpcf7-submit {
  @include inline-block;
  padding: 0.25em 0.5em;
  color: #fff;
  text-align: center;
  text-shadow: 0 -1px 0 $brand-color;
  cursor: pointer;
  background-color: darken($brand-color,5%);
  border-color: darken($brand-color,5%) darken($brand-color,5%) #387038;
  border: 1px solid #bbb;
  border-color: #e6e6e6 #e6e6e6 #bfbfbf;
  border-bottom-color: #a2a2a2;
  @include border-radius(4px);
  font-size: 1em;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
     -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
          box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}

a:hover.button, a:focus.button, a:active.button,
.button:hover,
.button:active,
.wpcf7-submit:hover,
.wpcf7-submit:active {
  color: #fff;
  background-color: darken($brand-color,7.5%);
}

a:focus.button,
.button:focus,
.wpcf7-submit:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
a:active.button,
.button:active,
.wpcf7-submit:active {
  background-color: #408140 \9;
  background-image: none;
  outline: 0;
  -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
     -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
          box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
}

select {
  font-size: 1em;
  @include type-regular;
}

#commentform {
  ul {
    list-style: none;
  }
}

input[type="text"],
input[type="email"],
input[type="url"],
textarea {
  font-size: 1em;
  @include inline-block;
  padding: 0.5em 0.5em;
  margin-bottom: 0.5em;
  @include border-radius(4px);
  background-color: #fff;
    border: 1px solid #ccc;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
       -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
            box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
       -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
         -o-transition: border linear 0.2s, box-shadow linear 0.2s;
            transition: border linear 0.2s, box-shadow linear 0.2s;
  @include type-regular;
  width: 100%;
}
textarea {
  height: 8em;
}

input[type="text"]:focus, textarea:focus {
  border-color: $brand-color;
  @include opacity(0.8);
  outline: 0;
  outline: thin dotted \9; // Pre IE9
  @include box-shadow-inset(inset, 0, 1px, 1px, $brand-color);
}

// Form Base Alert message
.mc_error_msg, .mc_success_msg {
  display: block;
  padding: pem(8px) pem(14px);
  margin-bottom: 0.5em;
  color: #c09853;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  background-color: #fcf8e3;
  border: 1px solid #fbeed5;
  @include border-radius(4px);
}

// Color in the success message
.mc_success_msg {
  color: #468847;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}

// Color in the warning message.
.mc_error_msg {
   color: #b94a48;
   background-color: #f2dede;
   border-color: #eed3d7;
}

div.wpcf7-mail-sent-ok {
  color: #468847;
  background-color: #dff0d8;
  border: 1px solid #d6e9c6;
  @include border-radius(4px);
}

div.wpcf7-validation-errors, span.wpcf7-not-valid-tip {
  background-color: #f2dede;
  border: 1px solid #eed3d7;
  @include border-radius(4px);
  color: #b94a48;
}

.wpcf7-mail-sent-ok, div.wpcf7-validation-errors, span.wpcf7-not-valid-tip {
  font-size: 1em;
  padding: 0.5em 1em;
}