.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }

/* Image Replacement */
.ir {
  display : block;
  overflow : hidden;
  background-repeat : no-repeat;
  text-align : left;
  text-indent : -999em;
  direction : ltr;
  width: 0;
}


/* Hide Visually */
.visually-hidden {
  position: absolute;
  margin: -1px;
  padding: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}
.visually-hidden.focusable:active,
.visually-hidden.focusable:focus {
  position: static;
  margin: 0;
  height: auto;
  width: auto ;
  overflow: visible;
  clip: auto;
}

// Use our own mixins for Box Shadow and Transitions, because I find them easier 
// to use than those of Compass.
@mixin box-shadow($horz, $vert, $blur, $color) {
  -webkit-box-shadow: $horz $vert $blur $color;
  -moz-box-shadow: $horz $vert $blur $color;
  box-shadow: $horz $vert $blur $color;
}
@mixin box-shadow-inset($setting, $horz, $vert, $blur, $color) {
  -webkit-box-shadow: $setting $horz $vert $blur $color;
  -moz-box-shadow: $setting $horz $vert $blur $color;
  box-shadow: $setting $horz $vert $blur $color;
}

// instead of adding classes "m-all t-all d-all" for example. This can be mixed.
@mixin gridset-all {
  clear: left;
  float: left;
  width: 100%;
}

@mixin hide {
  display: none;
  visibility: hidden;
}

@mixin show {
  display: block;
  visibility: visible;
}

@mixin transition($property, $duration, $ease) {
  -webkit-transition: $property $duration $ease;
  -moz-transition: $property $duration $ease;
  -o-transition: $property $duration $ease;
  transition: $property $duration $ease;
}

/* See http://mrdanadams.com/2012/pixel-ems-css-conversion-sass-mixin/ */

/* Convert PX units to EMs.
Ex: margin-right: pem(16);
*/
@function pem($pxval, $base: $base-font-size) {
  @return #{$pxval / $base}em;
}

/* Used to convert PX to EMs for multiple properties or values or both.
$base is an optional measurement that allows making measurements relative to the parent font size rather than the current. Also accepts a list of lists (instead a list of values) for properties that accept multiple lists of values. Only numbers of converted; everything else is passed through.

Examples:

@include scale(line-height, 30)
@include scale(line-height, 30, 16)
@include scale(width height, 125);
@include scale(padding, 0 25, 16);
@include scale(text-shadow, (#0d6e28 1 1) (#777 0 0 2), 16);
@include scale(box-shadow, (inset 0 0 0 1 #2a9022) (inset 0 0 3 #459966), 16);
*/
@mixin scale($props, $sizes, $base: $base-font-size) {
    $values: ();
    $sublists: false;
    @each $s in $sizes {
        /* unwrap lists for values that have multiple list of values such as text-shadow */
        @if type-of($s) == list {
            $sublists: true;
            $vv: ();
            @each $ss in $s {
                $vv: append($vv, if(type-of($ss) == number, #{$ss / $base}em, $ss));
            }
            $values: append($values, join((), $vv));
        } @else {
            $values: append($values, if(type-of($s) == number, #{$s / $base}em, $s));
        }
    }
    $value: join((), $values, if($sublists, comma, space));
    @each $prop in $props { #{$prop}: $value }
}