// Colors

$brand-color: #0b5394; // color description, e.g. Blue
$border-color: $brand-color;
$secondary-color: darken(#0b5394, 10%);
$text-color: #333;
$text-color-subtle: #888;
$link-color: $brand-color;
$hover-color: darken($brand-color,15%);


// Break points
$break-small: 30em; // 480px @ 16px
$break-small-medium: 37.5em; // 600px @ 16px
$break-medium: 48em; // 786px @ 16px
$break-large: 64em; // 1024px @ 16px

/*
// (480 @ 16px)
@media only screen and (min-width: 30em) {
  
}
*/

/*
// (768px @ 16px)
@media only screen and (min-width: 48em) {
  
}
*/

/*
// (1024px @ 16px)
@media only screen and (min-width: 64em) {

}
*/