$brand-color: #0b5394; // color description, e.g. Blue
$secondary-color: darken(#0b5394, 10%);
$text-color: #333;
$link-color: #00e;

@mixin regular-type {
  font-family: Helvetica, Arial, sans-serif;
}