/* Only put IE Gridset in here
other IE styles are contained in the main stylesheet. */

// Fix IE7, 8 and 9
// IE6 is semi-supported by way of a Chrome frame update prompt.
// and @malarkey's Universal stylesheet.

.lt-ie9 {

}
