/* line 17, ../../../../../../../.rvm/gems/ruby-1.9.3-p194-falcon/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../.rvm/gems/ruby-1.9.3-p194-falcon/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../.rvm/gems/ruby-1.9.3-p194-falcon/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../.rvm/gems/ruby-1.9.3-p194-falcon/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../.rvm/gems/ruby-1.9.3-p194-falcon/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../.rvm/gems/ruby-1.9.3-p194-falcon/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../.rvm/gems/ruby-1.9.3-p194-falcon/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../.rvm/gems/ruby-1.9.3-p194-falcon/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../.rvm/gems/ruby-1.9.3-p194-falcon/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/*@font-face {
  font-family: 'HectorRounded';
  src: url('/wp-content/themes/logo24-bones/library/fonts/hectorrounded.eot');
  src: url('/wp-content/themes/logo24-bones/library/fonts/hectorrounded.eot?#iefix') format('embedded-opentype'),
       url('/wp-content/themes/logo24-bones/library/fonts/hectorrounded.woff') format('woff'),
       url('/wp-content/themes/logo24-bones/library/fonts/hectorrounded.ttf') format('truetype'),
       url('/wp-content/themes/logo24-bones/library/fonts/hectorrounded.svg#hectorrounded') format('svg');
  font-weight: normal;
  font-style: normal;
}*/
/* line 2, _helpers.scss */
.clearfix:before, .clearfix:after {
  content: "";
  display: table;
}

/* line 3, _helpers.scss */
.clearfix:after {
  clear: both;
}

/* line 4, _helpers.scss */
.clearfix {
  zoom: 1;
}

/* line 8, _helpers.scss */
.ir, [role="banner"] h1 {
  display: block;
  overflow: hidden;
  background-repeat: no-repeat;
  text-align: left;
  text-indent: -999em;
  direction: ltr;
  width: 0;
}

/* line 21, _helpers.scss */
.visually-hidden {
  position: absolute;
  margin: -1px;
  padding: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

/* line 32, _helpers.scss */
.visually-hidden.focusable:active,
.visually-hidden.focusable:focus {
  position: static;
  margin: 0;
  height: auto;
  width: auto;
  overflow: visible;
  clip: auto;
}

/* See http://mrdanadams.com/2012/pixel-ems-css-conversion-sass-mixin/ */
/* Convert PX units to EMs.
Ex: margin-right: pem(16);
*/
/* Used to convert PX to EMs for multiple properties or values or both.
$base is an optional measurement that allows making measurements relative to the parent font size rather than the current. Also accepts a list of lists (instead a list of values) for properties that accept multiple lists of values. Only numbers of converted; everything else is passed through.

Examples:

@include scale(line-height, 30)
@include scale(line-height, 30, 16)
@include scale(width height, 125);
@include scale(padding, 0 25, 16);
@include scale(text-shadow, (#0d6e28 1 1) (#777 0 0 2), 16);
@include scale(box-shadow, (inset 0 0 0 1 #2a9022) (inset 0 0 3 #459966), 16);
*/
/* line 5, _twitter-bootstrap.scss */
.alert {
  padding: 8px 35px 8px 14px;
  margin-bottom: 20px;
  color: #c09853;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  background-color: #fcf8e3;
  border: 1px solid #fbeed5;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

/* line 17, _twitter-bootstrap.scss */
.alert h4 {
  margin: 0;
}

/* line 21, _twitter-bootstrap.scss */
.alert .close {
  position: relative;
  top: -2px;
  right: -21px;
  line-height: 20px;
}

/* line 28, _twitter-bootstrap.scss */
.alert-success {
  color: #468847;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}

/* line 35, _twitter-bootstrap.scss */
.alert-danger,
.alert-error {
  color: #b94a48;
  background-color: #f2dede;
  border-color: #eed3d7;
}

/* line 41, _twitter-bootstrap.scss */
.alert-info {
  color: #3a87ad;
  background-color: #d9edf7;
  border-color: #bce8f1;
}

/* line 47, _twitter-bootstrap.scss */
.alert-block {
  padding-top: 14px;
  padding-bottom: 14px;
}

/* line 53, _twitter-bootstrap.scss */
.alert-block > p,
.alert-block > ul {
  margin-bottom: 0;
}

/* line 57, _twitter-bootstrap.scss */
.alert-block p + p {
  margin-top: 5px;
}

/* Gridset CSS goes here */
/* line 61, ../../../../../../../.rvm/gems/ruby-1.9.3-p194-falcon/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/_vertical_rhythm.scss */
* html {
  font-size: 100%;
}

/* line 64, ../../../../../../../.rvm/gems/ruby-1.9.3-p194-falcon/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/_vertical_rhythm.scss */
html {
  font-size: 16px;
  line-height: 1.5em;
}

/* line 35, style.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 41, style.scss */
body {
  color: #333333;
  font-family: Helvetica, Arial, sans-serif;
}

/* line 48, style.scss */
h1 {
  font-size: 2.25em;
  line-height: 1.33333em;
}

/* line 52, style.scss */
h2 {
  font-size: 1.75em;
  line-height: 1.71429em;
}

/* line 56, style.scss */
h3 {
  font-size: 1.5em;
  line-height: 2em;
}

/* line 60, style.scss */
h4 {
  font-size: 1.125em;
  line-height: 1.33333em;
  font-weight: bold;
}

/* line 65, style.scss */
h5 {
  font-size: 1.125em;
  line-height: 1.33333em;
  text-transform: uppercase;
}

/* line 70, style.scss */
h6 {
  font-weight: bold;
}

/* line 75, style.scss */
h1 + p, h1 + ul, h1 + ol, h2 + p, h2 + ul, h2 + ol, h3 + p, h3 + ul, h3 + ol, h4 + p, h4 + ul, h4 + ol, h5 + p, h5 + ul, h5 + ol, h6 + p, h6 + ul, h6 + ol {
  margin-top: 1em;
}

/* line 80, style.scss */
p, ul, ol {
  margin: 1.5em 0;
}

/* line 84, style.scss */
ul {
  list-style: disc;
}

/* line 88, style.scss */
ol {
  list-style: decimal;
}

/* line 92, style.scss */
dt {
  font-style: italic;
  font-weight: bold;
}

/* line 97, style.scss */
dd {
  margin-bottom: 1.5em;
  margin-left: 1em;
}

/* line 103, style.scss */
pre {
  background-color: #F8F8F8;
  border: 1px solid #CCC;
  overflow: auto;
  padding: 0.375em 0.625em;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}

/* line 112, style.scss */
.lead {
  font-size: 1.25em;
  line-height: 1.2em;
}

/* line 116, style.scss */
blockquote {
  margin-left: 2em;
  font-style: italic;
}

/* line 122, style.scss */
a, a:link, a:visited {
  color: #0000ee;
  text-decoration: none;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

/* line 127, style.scss */
a:hover, a:focus, a:active {
  color: #0b5394;
}

/* line 131, style.scss */
i {
  font-style: normal;
}

/* line 135, style.scss */
strong {
  font-weight: normal;
}

/* line 139, style.scss */
small {
  font-size: 0.75em;
  line-height: 2em;
  display: block;
  margin: 1em 0;
}

/* line 146, style.scss */
tr {
  border-top: 1px solid #CCC;
  background-color: white;
}
/* line 151, style.scss */
tr:nth-child(2n) {
  background-color: #F8F8F8;
}

/* line 156, style.scss */
th {
  border: 1px solid #CCC;
  font-weight: bold;
  padding: 0.375em 0.8125em;
}

/* line 162, style.scss */
td {
  border: 1px solid #CCC;
  padding: 0.375em 0.8125em;
}

/* line 167, style.scss */
.wrapper {
  margin: 0 auto;
  width: 90%;
}
@media only screen and (min-width: 30em) {
  /* line 167, style.scss */
  .wrapper {
    max-width: 768px;
  }
}
@media only screen and (min-width: 48em) {
  /* line 167, style.scss */
  .wrapper {
    max-width: 1024px;
  }
}

/* line 183, style.scss */
[role="banner"] {
  overflow: hidden;
  *zoom: 1;
  margin: 1em 0;
}
/* line 188, style.scss */
[role="banner"] h1 {
  height: 150px;
  margin: 0 auto;
  width: 150px;
  background: url("/wp-content/themes/logo24-bones/library/images/logo.png") no-repeat;
}
@media only screen and (min-width: 30em) {
  /* line 188, style.scss */
  [role="banner"] h1 {
    margin: 0;
  }
}
@media only screen and (min-width: 48em) {
  /* line 188, style.scss */
  [role="banner"] h1 {
    float: left;
    margin-right: 1em;
  }
}
@media (min--moz-device-pixel-ratio: 1.3), (-o-min-device-pixel-ratio: 2.6 / 2), (-webkit-min-device-pixel-ratio: 1.3), (min-device-pixel-ratio: 1.3), (min-resolution: 1.3dppx) {
  /* line 188, style.scss */
  [role="banner"] h1 {
    /* on retina, use image that's scaled by 2 */
    background: url("/wp-content/themes/logo24-bones/library/images/logo@2x.png") no-repeat;
    background-size: 150px 150px;
  }
}
/* line 213, style.scss */
[role="banner"] h2 {
  font-size: 1.375em;
  line-height: 2.18182em;
}

@media only screen and (max-width: 768px) {
  /* line 5, _navigation.scss */
  .js a.open-navigation {
    display: block;
    margin-bottom: 1.0625em;
  }
}

/* line 11, _navigation.scss */
a.open-navigation {
  background: #0b5394;
  color: #fff;
  display: none;
  padding: 0.4375em 0;
  text-align: center;
  width: 100%;
}
/* line 19, _navigation.scss */
a.open-navigation:hover, a.open-navigation:active, a.open-navigation:focus {
  background: #073865;
  color: #fff;
}

/* line 27, _navigation.scss */
.sub-menu {
  display: none;
  float: left;
  margin: 0;
  position: absolute;
  text-align: left;
  left: 0;
  width: 12.5em;
  z-index: 99999;
  background-color: #0b5394;
}
/* line 38, _navigation.scss */
.sub-menu a {
  border-right: none !important;
}

@media only screen and (max-width: 768px) {
  /* line 43, _navigation.scss */
  .js .top-nav {
    display: none;
  }
}

/* line 49, _navigation.scss */
.top-nav {
  margin-bottom: 1.0625em;
}

@media only screen and (min-width: 769px) {
  /* line 56, _navigation.scss */
  .top-nav {
    display: block !important;
    opacity: 1;
  }
}
@media only screen and (min-width: 48em) {
  /* line 66, _navigation.scss */
  .top-nav > li, .footer-nav > li {
    margin-left: -0.25em;
  }
}
/* line 71, _navigation.scss */
.nav li:first-child {
  margin-left: 0;
}

/* line 77, _navigation.scss */
.top-nav, .footer-nav {
  background-color: #0b5394;
}
/* line 80, _navigation.scss */
.top-nav li, .footer-nav li {
  display: block;
  position: relative;
  width: 100%;
}
@media only screen and (min-width: 48em) {
  /* line 80, _navigation.scss */
  .top-nav li, .footer-nav li {
    display: inline;
    width: auto;
  }
}
@media only screen and (min-width: 48em) {
  /* line 95, _navigation.scss */
  .top-nav li:hover .sub-menu, .footer-nav li:hover .sub-menu {
    display: block;
    background-color: #0b5394;
  }
}
/* line 102, _navigation.scss */
.top-nav li a, .top-nav li a:link, .top-nav li a:visited, .footer-nav li a, .footer-nav li a:link, .footer-nav li a:visited {
  color: #fff;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  padding: 0.4375em 0 0.4375em 1.125em;
  width: 100%;
}
@media only screen and (min-width: 48em) {
  /* line 102, _navigation.scss */
  .top-nav li a, .top-nav li a:link, .top-nav li a:visited, .footer-nav li a, .footer-nav li a:link, .footer-nav li a:visited {
    border-right: 1px solid #073865;
    padding: 0.4375em 1.125em;
    width: auto;
  }
}
/* line 116, _navigation.scss */
.top-nav li a:hover, .top-nav li a:focus, .top-nav li a:active, .footer-nav li a:hover, .footer-nav li a:focus, .footer-nav li a:active {
  background: #073865;
}

/* line 221, style.scss */
.p404 {
  padding-top: 5em;
  text-align: center;
}
/* line 225, style.scss */
.p404 h1 {
  font-size: 8.3125em;
  line-height: 1.08271em;
  color: #0b5394;
  line-height: 1em;
}
/* line 231, style.scss */
.p404 h2 {
  font-size: 1.375em;
  line-height: 2.18182em;
  color: #0b5394;
  line-height: 1em;
  margin-bottom: 1.5em;
}
/* line 238, style.scss */
.p404 p {
  font-size: 1em;
  line-height: 1.5em;
  color: #0b5394;
  line-height: 1.25em;
}
/* line 244, style.scss */
.p404 i {
  display: block;
}

/* line 250, style.scss */
[role='contentinfo'] {
  margin: 2em 0;
}

/*.lt-ie9 {

}*/
@media print {
  /******************************************************************
  Site Name:
  Author:
  
  Stylesheet: Print Stylesheet
  
  This is the print stylesheet. There's probably not a lot
  of reasons to edit this stylesheet. If you want to
  though, go for it.
  
  ******************************************************************/
  /* line 15, _print.scss */
  * {
    background: transparent !important;
    color: black !important;
    text-shadow: none !important;
    filter: none !important;
    -ms-filter: none !important;
  }

  /* line 23, _print.scss */
  a, a:visited {
    color: #444 !important;
    text-decoration: underline;
  }
  /* line 28, _print.scss */
  a:after, a:visited:after {
    content: " (" attr(href) ")";
  }
  /* line 33, _print.scss */
  a abbr[title]:after, a:visited abbr[title]:after {
    content: " (" attr(title) ")";
  }

  /* line 40, _print.scss */
  .ir a:after, [role="banner"] h1 a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }

  /* line 44, _print.scss */
  pre, blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /* line 49, _print.scss */
  thead {
    display: table-header-group;
  }

  /* line 53, _print.scss */
  tr, img {
    page-break-inside: avoid;
  }

  /* line 57, _print.scss */
  img {
    max-width: 100% !important;
  }

  @page {
    margin: 0.5cm;
}

  /* line 65, _print.scss */
  p, h2, h3 {
    orphans: 3;
    widows: 3;
  }

  /* line 71, _print.scss */
  h2,
  h3 {
    page-break-after: avoid;
  }

  /* line 80, _print.scss */
  .sidebar,
  .page-navigation,
  .wp-prev-next,
  .respond-form,
  nav {
    display: none;
  }
}
