/* line 17, ../../../../../../.rvm/gems/ruby-1.9.3-p194-falcon/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../.rvm/gems/ruby-1.9.3-p194-falcon/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../.rvm/gems/ruby-1.9.3-p194-falcon/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../.rvm/gems/ruby-1.9.3-p194-falcon/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../.rvm/gems/ruby-1.9.3-p194-falcon/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../.rvm/gems/ruby-1.9.3-p194-falcon/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../.rvm/gems/ruby-1.9.3-p194-falcon/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../.rvm/gems/ruby-1.9.3-p194-falcon/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../.rvm/gems/ruby-1.9.3-p194-falcon/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* Image Replacement */
/* line 2, _helpers.scss */
.ir, [role="banner"] h1 {
  display: block;
  overflow: hidden;
  background-repeat: no-repeat;
  text-align: left;
  text-indent: -999em;
  direction: ltr;
  width: 0;
}

/* Hide Visually */
/* line 14, _helpers.scss */
.visually-hidden {
  position: absolute;
  margin: -1px;
  padding: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

/* line 25, _helpers.scss */
.visually-hidden.focusable:active,
.visually-hidden.focusable:focus {
  position: static;
  margin: 0;
  height: auto;
  width: auto;
  overflow: visible;
  clip: auto;
}

/* Gridset CSS goes here */
/* line 61, ../../../../../../.rvm/gems/ruby-1.9.3-p194-falcon/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/_vertical_rhythm.scss */
* html {
  font-size: 100%;
}

/* line 64, ../../../../../../.rvm/gems/ruby-1.9.3-p194-falcon/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/_vertical_rhythm.scss */
html {
  font-size: 16px;
  line-height: 1.5em;
}

/*@font-face {
  font-family: 'HectorRounded';
  src: url('/wp-content/themes/logo24-bones/library/fonts/hectorrounded.eot');
  src: url('/wp-content/themes/logo24-bones/library/fonts/hectorrounded.eot?#iefix') format('embedded-opentype'),
       url('/wp-content/themes/logo24-bones/library/fonts/hectorrounded.woff') format('woff'),
       url('/wp-content/themes/logo24-bones/library/fonts/hectorrounded.ttf') format('truetype'),
       url('/wp-content/themes/logo24-bones/library/fonts/hectorrounded.svg#hectorrounded') format('svg');
  font-weight: normal;
  font-style: normal;
}*/
/* line 37, style.scss */
body {
  font-family: Helvetica, Arial, sans-serif;
  padding: 2em;
}

/* line 42, style.scss */
p, ul li {
  color: #333333;
}

/* line 46, style.scss */
a, a:link, a:visited {
  color: #555555;
  text-decoration: none;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
/* line 51, style.scss */
a:hover, a:active, a:focus, a:link:hover, a:link:active, a:link:focus, a:visited:hover, a:visited:active, a:visited:focus {
  color: #0b5394;
}

/* line 56, style.scss */
i {
  font-style: normal;
}

/* line 60, style.scss */
strong {
  font-weight: normal;
}

/* line 64, style.scss */
.wrapper {
  overflow: hidden;
  *zoom: 1;
  margin: 0 auto;
}
@media only screen and (min-width: 480px) {
  /* line 64, style.scss */
  .wrapper {
    width: 768px;
  }
}
@media only screen and (min-width: 768px) {
  /* line 64, style.scss */
  .wrapper {
    width: 1024px;
  }
}

/* line 78, style.scss */
[role="banner"] {
  overflow: hidden;
  *zoom: 1;
}
/* line 82, style.scss */
[role="banner"] h1 {
  background-image: url("/wp-content/themes/logo24-bones/library/images/logo.png");
  height: 150px;
  margin: 0 auto;
  width: 150px;
}
@media only screen and (min-width: 480px) {
  /* line 82, style.scss */
  [role="banner"] h1 {
    margin: 0;
  }
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {
  /* line 82, style.scss */
  [role="banner"] h1 {
    background-image: url("/wp-content/themes/logo24-bones/library/images/logo@2x.png");
    background-size: 100%;
  }
}
/* line 100, style.scss */
[role="banner"] h2 {
  font-size: 1.375em;
  line-height: 2.18182em;
}

/* line 106, style.scss */
.p404 {
  padding-top: 5em;
  text-align: center;
}
/* line 110, style.scss */
.p404 h1 {
  font-size: 8.3125em;
  line-height: 1.08271em;
  color: #0b5394;
  line-height: 1em;
}
/* line 116, style.scss */
.p404 h2 {
  font-size: 1.375em;
  line-height: 2.18182em;
  color: #0b5394;
  line-height: 1em;
  margin-bottom: 1.5em;
}
/* line 123, style.scss */
.p404 p {
  font-size: 1em;
  line-height: 1.5em;
  color: #0b5394;
  line-height: 1.25em;
}
/* line 129, style.scss */
.p404 i {
  display: block;
}

/* line 135, style.scss */
[role='contentinfo'] {
  margin: 2em 0;
}
/* line 139, style.scss */
[role='contentinfo'] ul {
  list-style: none;
  margin: 0;
  padding: 0;
  border: 0;
  overflow: hidden;
  *zoom: 1;
  margin-left: -1.5em;
}
/* line 11, ../../../../../../.rvm/gems/ruby-1.9.3-p194-falcon/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/lists/_bullets.scss */
[role='contentinfo'] ul li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0;
}
/* line 49, ../../../../../../.rvm/gems/ruby-1.9.3-p194-falcon/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/lists/_inline-block-list.scss */
[role='contentinfo'] ul li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  white-space: nowrap;
}
/* line 144, style.scss */
[role='contentinfo'] ul li {
  margin-left: 1.5em;
}
/* line 149, style.scss */
[role='contentinfo'] a, [role='contentinfo'] a:link, [role='contentinfo'] a:visited {
  color: #595959;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
/* line 153, style.scss */
[role='contentinfo'] a:hover, [role='contentinfo'] a:active, [role='contentinfo'] a:focus, [role='contentinfo'] a:link:hover, [role='contentinfo'] a:link:active, [role='contentinfo'] a:link:focus, [role='contentinfo'] a:visited:hover, [role='contentinfo'] a:visited:active, [role='contentinfo'] a:visited:focus {
  color: #0b5394;
}

/*.lt-ie9 {

}*/
@media print {
  /******************************************************************
  Site Name:
  Author:
  
  Stylesheet: Print Stylesheet
  
  This is the print stylesheet. There's probably not a lot
  of reasons to edit this stylesheet. If you want to
  though, go for it.
  
  ******************************************************************/
  /* line 15, _print.scss */
  * {
    background: transparent !important;
    color: black !important;
    text-shadow: none !important;
    filter: none !important;
    -ms-filter: none !important;
  }

  /* line 23, _print.scss */
  a, a:visited {
    color: #444 !important;
    text-decoration: underline;
  }
  /* line 28, _print.scss */
  a:after, a:visited:after {
    content: " (" attr(href) ")";
  }
  /* line 33, _print.scss */
  a abbr[title]:after, a:visited abbr[title]:after {
    content: " (" attr(title) ")";
  }

  /* line 40, _print.scss */
  .ir a:after, [role="banner"] h1 a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }

  /* line 44, _print.scss */
  pre, blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /* line 49, _print.scss */
  thead {
    display: table-header-group;
  }

  /* line 53, _print.scss */
  tr, img {
    page-break-inside: avoid;
  }

  /* line 57, _print.scss */
  img {
    max-width: 100% !important;
  }

  @page {
    margin: 0.5cm;
}

  /* line 65, _print.scss */
  p, h2, h3 {
    orphans: 3;
    widows: 3;
  }

  /* line 71, _print.scss */
  h2,
  h3 {
    page-break-after: avoid;
  }

  /* line 80, _print.scss */
  .sidebar,
  .page-navigation,
  .wp-prev-next,
  .respond-form,
  nav {
    display: none;
  }
}
