/* Only put IE Gridset in here
other IE styles are contained in the main stylesheet. */

// Fix IE7, 8 and 9
// IE6 is semi-supported by way of a Chrome frame update prompt.
// and @malarkey's Universal stylesheet.

.lt-ie9 {

}

// <p>, shown for IE7 and earlier
.outdated-browser {
  background: $color-alert-bg;
  color: $color-alert-text;
  margin: 0;
  padding: 1em;
  text-align: center;
  
  a, a:link, a:visited {
    color: $color-alert-text;
    font-weight: bold;
  }
}
